{% extends '../base.html' %}
{% load static %}

{% block content %}
{% include 'breadcrumps.html' with current=reports %}
  <div class="row">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-body">
          <h4 class="header-title mt-0">Tickets Status</h4>
          <div class="">
            <div id="reports_tickets" class="apex-charts"></div>
          </div>
        </div>
        <!--end card-body-->
      </div>
      <!--end card-->
    </div>
    <!--end col-->
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <div class="p-4 bg-light text-center align-item-center">
            <h1 class="font-weight-semibold">4.8</h1>
            <h4 class="header-title">Overall Rating</h4>
            <ul class="list-inline mb-0 product-review">
              <li class="list-inline-item mr-0"><i class="mdi mdi-star text-warning font-24"></i>
              </li>
              <li class="list-inline-item mr-0"><i class="mdi mdi-star text-warning font-24"></i>
              </li>
              <li class="list-inline-item mr-0"><i class="mdi mdi-star text-warning font-24"></i>
              </li>
              <li class="list-inline-item mr-0"><i class="mdi mdi-star text-warning font-24"></i>
              </li>
              <li class="list-inline-item mr-0"><i class="mdi mdi-star-half text-warning font-24"></i>
              </li>
              <li class="list-inline-item"><small class="text-muted">Total Review (700)</small></li>
            </ul>
          </div>
          <ul class="list-unstyled mt-3">
            <li class="mb-2"><span class="text-dark">5 Star</span> <small class="float-right text-muted ml-3 font-14">593</small>
              <div class="progress mt-2" style="height:5px;">
                <div class="progress-bar bg-secondary" role="progressbar" style="width: 80%; border-radius:5px;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </li>
            <li class="mb-2"><span class="text-dark">4 Star</span> <small class="float-right text-muted ml-3 font-14">99</small>
              <div class="progress mt-2" style="height:5px;">
                <div class="progress-bar bg-secondary" role="progressbar" style="width: 18%; border-radius:5px;" aria-valuenow="18" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </li>
            <li class="mb-2"><span class="text-dark">3 Star</span> <small class="float-right text-muted ml-3 font-14">6</small>
              <div class="progress mt-2" style="height:5px;">
                <div class="progress-bar bg-secondary" role="progressbar" style="width: 10%; border-radius:5px;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </li>
            <li class="mb-2"><span class="text-dark">2 Star</span> <small class="float-right text-muted ml-3 font-14">2</small>
              <div class="progress mt-2" style="height:5px;">
                <div class="progress-bar bg-secondary" role="progressbar" style="width: 1%; border-radius:5px;" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </li>
            <li><span class="text-dark">1 Star</span> <small class="float-right text-muted ml-3 font-14">0</small>
              <div class="progress mt-2" style="height:5px;">
                <div class="progress-bar bg-secondary" role="progressbar" style="width: 0%; border-radius:5px;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </li>
          </ul>
          <div class="">
            <h3 class="d-inline-block mr-2 mb-1 mb-lg-0">98.5%</h3>
            <h4 class="header-title d-inline-block mr-2 mb-1 mb-lg-0">Satisfied Customer</h4><span class="text-right ml-auto d-inline-block"><i class="far fa-smile font-24 text-warning"></i></span>
          </div>
        </div>
        <!--end card-body-->
      </div>
      <!--end card-->
    </div>
    <!--end col-->
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h4 class="header-title mt-0 mb-2">Support Status</h4>
          <div class="d-flex justify-content-between">
            <div>
              <h2 class="font-weight-semibold">1530</h2>
              <h5>Tickets</h5>
            </div>
            <div>
              <ul class="list-unstyled url-list">
                <li><i class="mdi mdi-circle-medium text-pink"></i> <span>Open Tickets</span></li>
                <li><i class="mdi mdi-circle-medium text-primary"></i> <span>Resolved Tickets</span></li>
                <li><i class="mdi mdi-circle-medium text-success"></i> <span>Unresolved Tickets</span></li>
              </ul>
            </div>
          </div>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
            <div class="progress-bar bg-pink" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
            <div class="progress-bar bg-success" role="progressbar" style="width: 5%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100">5%</div>
          </div>
        </div>
        <!--end card-body-->
      </div>
      <!--end card-->
    </div>
    <!--end col-->
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-7 align-self-center">
              <div class="timer-data">
                <div class="icon-info mt-1 mb-4"><i class="dripicons-phone bg-soft-dark"></i></div>
                <h3 class="mt-0 text-dark">0m:27s</h3>
                <h4 class="mt-0 header-title text-truncate">Avg.Speed of answer</h4>
                <p class="text-muted mb-0 text-truncate">It is a long established fact that a reader.</p>
              </div>
            </div>
            <!--end col-->
            <div class="col-5 align-self-center">
              <div class="apexchart-wrapper">
                <div id="dash_spark_1" class="chart-gutters"></div>
              </div>
            </div>
            <!--end col-->
          </div>
          <!--end row-->
        </div>
        <!--end card-body-->
      </div>
      <!--end card-->
    </div>
    <!--end col-->
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-7 align-self-center">
              <div class="timer-data">
                <div class="icon-info mt-1 mb-4"><i class="dripicons-clock bg-soft-dark"></i></div>
                <h3 class="mt-0 text-dark">4m:30s</h3>
                <h4 class="mt-0 header-title text-truncate">Time to Resolved Complaint</h4>
                <p class="text-muted mb-0 text-truncate">It is a long established fact that a reader.</p>
              </div>
            </div>
            <!--end col-->
            <div class="col-5 align-self-center">
              <div class="apexchart-wrapper">
                <div id="dash_spark_2" class="chart-gutters"></div>
              </div>
            </div>
            <!--end col-->
          </div>
          <!--end row-->
        </div>
        <!--end card-body-->
      </div>
      <!--end card-->
    </div>
    <!--end col-->
  </div>
{% endblock %}