{% load static %}

<!-- jQuery  -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/metismenu.min.js' %}"></script>
<script src="{% static 'js/waves.js' %}"></script>
<script src="{% static 'js/feather.min.js' %}"></script>
<script src="{% static 'js/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'plugins/apexcharts/apexcharts.min.js' %}"></script>
<script src="{% static 'pages/jquery.helpdesk-dashboard.init.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>

<script src="{% static 'js/highlight.pack.js' %}"></script>
<script>hljs.initHighlightingOnLoad(); </script>