{% extends '../base.html' %}
{% load static %}

{% block content %}
{% include 'breadcrumps.html' with current=business %}

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <p class="badge badge-soft-pink font-11 p-1 mb-1 float-lg-right float-md-none">Last updated {{updated_at}}</p>
        <div class="table-responsive browser_users">
          <table class="table mb-0">
            <thead class="thead-light">
              <tr>
                <th class="border-top-0">Business Name</th>
                <th class="border-top-0">Location</th>
                <th class="border-top-0">Phone</th>
                <th class="border-top-0">Email</th>
                <th class="border-top-0">Website </th>
                <th class="border-top-0">Action</th>
              </tr>
              <!--end tr-->
            </thead>
            <tbody>
              {% for business in object_list %}
              <tr>
                <td>
                  <div class="media">
                    <div class="media-body align-self-center text-truncate">
                      <h6 class="mt-0 mb-1 text-dark">{{business.business_name}}</h6>
                    </div>
                  </div>
                </td>
                <td>{{business.location}}</td>
                <td>{{business.phone}}</td>
                <td>{{business.email}}</td>
                <td>{{business.website}}</td>
                <td>
                  <a href="{% url 'core:business-update' business.pk %}" class="mr-2"><i class="fas fa-edit text-info font-16"></i></a> <a href="{% url 'core:business-delete' business.pk %}"><i class="fas fa-trash-alt text-danger font-16"></i></a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}